/* ----Reset---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

/* ----Common----- */
body{
    background-image: url(thumb-1920-337745.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button{
    padding: 20px  50px;
    border: none;
    background-color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    animation: animate 2s Linear infinite;
}
@keyframes animate{
    0%{
        background-color: red;
    }
     20%{
        background-color: green;
    }
     40%{
        background-color: yellow;
    }
     60%{
        background-color: blue;
    }
     80%{
        background-color: orange;
    }
     100%{
        background-color: purple;
    }
}





    

/* ----Sidebar---- */
.side{
    position: fixed;
    left: -100%;
    max-width: 350px;
    width: 100%;
    background-image: url(3l81qK.jpg);
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in;
}

/* logo */
.side header{
    text-align: center;
    height: 120px;
    width: 100%;
    line-height: 120px;
    padding: 30px 0;
    background-image:  url(wall.jpg);
    user-select: none;
}

/* Menu Items */
.side .nav-links{
    width: 100%;
    overflow-y: auto;
}

.nav-links li a{
    display: block;
    color: red;
    line-height: 65px;
    padding-left: 20px;
    transition: all 0.3s ease-in;
}

.nav-links li a i{
    margin-right: 10px;
}

.nav-links li a:hover{
    background-color: turquoise;
}

/* Drop Down Menu */
.nav-links ul{
    padding-left: 20px;
}

.nav-links .drop1,
.nav-links .drop2,
.nav-links .drop3,
.nav-links .drop4{
    max-height: 0;
    overflow: hidden;
}

.nav-links label{
    display: block;
    cursor: pointer;
}

#services:checked ~ .nav-links .drop1,
#graphics:checked ~ .nav-links .drop2,
#logos:checked ~ .nav-links .drop3,
#photos:checked ~ .nav-links .drop4{
    max-height: 100%;
}

/* Show and Hide Menus */
input{
    display: none;
}

.mbtns label{
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.mbtns label i{
    color: turquoise;
    font-size: 1.6rem;
}

.mbtns > .showbtn{
    display: block;
}

#s-menu:checked ~ .side{
    left: 0;
}

#s-menu:checked ~ .mbtns .showbtn{
    display: none;
}

#s-menu:checked ~ .mbtns .closebtn{
    display: block;
} 